{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1> Product Table </h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>


    </tr>
  </thead>
  <tbody>
 {% for product in products %}
 <tr>
 <th></th>
 <th>{{product.Name}}</th>
 <th>{{product.Description}}</th>
 <th>{{product.Image}}</th>
 <th>{{product.Price}}</th>
 <th><a href="{{ path('edit', {'id': product.id}) }}">Edit</a></th>
 <th><a href="{{ path('delete', {'id': product.id}) }}">Delete</a></th>
 
 </tr>
{% endfor %}
  </tbody>
</table>
<a href="/product/new" class="btn btn-primary">Add Product</a>
{% endblock %}